.container {
  background-color: darkgray;
  height: 850px;

  display: flex;
  flex-flow: row wrap-reverse;

  /* flex-wrap: nowrap */
  /* flex-wrap: wrap */
  /* flex-wrap: wrap-reverse */
}

.line {
  color: #fff;
  padding: 7px;
  font-size: 25px;
  width: 200px;
  height: 200px;
}

.l1 {
  background-color: red;
}

.l2 {
  background-color: green;
}

.l3 {
  background-color: blue;
}
